# Generated with Atomizr – https://atom.io/packages/atomizr
".source.sql":
	"s-s":
		prefix: "s-s"
		body: '''
			SELECT
			    `${4:${3/(.).*/$1/}}`.${1:*}
			  FROM `$3` AS `${4:${3/(.).*/$1/}}`$0
		'''
