# Generated with Atomizr – https://atom.io/packages/atomizr
".source.sql":
	"s-alter--fk":
		prefix: "s-alter--fk"
		body: '''
			ALTER TABLE `$1`
			ADD INDEX `fk_$1_$3_idx` (`$2` ASC),
			ADD CONSTRAINT `fk_${1:the_table}_$3`
			  FOREIGN KEY (`${2:foreign_key}`)
			  REFERENCES `${3:far_table}` (`${4:far_key}`)
			  ON DELETE NO ACTION
			  ON UPDATE CASCADE$0
		'''
