# Generated with Atomizr – https://atom.io/packages/atomizr
".source.sql":
	"(declare .. varchar .. default)":
		prefix: "s--dec-s"
		body: "DECLARE `${1:var_name}` VARCHAR(${2:255}) DEFAULT '${3:value}';$0"
