# Generated with Atomizr – https://atom.io/packages/atomizr
".source.sql":
	"(new user, password)":
		prefix: "s--user-add"
		body: "CREATE USER '${1:username}'@'${2:localhost}' IDENTIFIED BY '${3:password}';$0"
