# Generated with Atomizr – https://atom.io/packages/atomizr
".source.sql":
	"s-alter-add-after":
		prefix: "s-alter-add-after"
		body: "ALTER TABLE `${1:table}` ADD COLUMN `${2:col_name}` ${3:INT}${4: NOT NULL} AFTER `${5:col_name}`;$0"
