# Generated with Atomizr – https://atom.io/packages/atomizr
".source.sql":
	"s-alter-idx":
		prefix: "s-alter-idx"
		body: "ALTER TABLE `${1:table}` ADD ${2:INDEX} `${3:index_name}`(`${4:field}` ASC$5);$0"
