# Generated with Atomizr – https://atom.io/packages/atomizr
".source.sql":
	"s-proc-list":
		prefix: "s-proc-list"
		body: "${1:SELECT `name`, `param_list`, `comment` FROM `mysql`.`proc` WHERE `db`=DATABASE() AND `type` = 'PROCEDURE';}$0"
