# Generated with Atomizr – https://atom.io/packages/atomizr
".source.sql":
	"s-jright":
		prefix: "s-jright"
		body: "RIGHT JOIN `$1` AS `${2:${1/(.)[^_]*(?:_(.))?.*/$1$2/}}` ON ( `${2:${1/(.)[^_]*(?:_(.))?.*/$1$2/}}`.`${4:id}` = `$5`.`${6:id}` )$0"
