# Generated with Atomizr – https://atom.io/packages/atomizr
".source.sql":
	"(loop ... end loop)":
		prefix: "s-loop"
		body: '''
			`${1:label_name}`: LOOP
				SET `${10:var_name}` = `${10}` ${11:+} ${12:1};

				${0:-- Your code ...}

				IF `${10}` ${20:>=} ${22:10} THEN
					LEAVE `${1:label_name}`;
				END IF;
			END LOOP `${1:label_name}`;$0
		'''
