# Generated with Atomizr – https://atom.io/packages/atomizr
".source.sql":
	"(when '...' begin ...)":
		prefix: "s-case-wb"
		body: '''
			WHEN '${1:value}' THEN BEGIN
			  ${0:-- SELECT 'case $1'};
			END;$0
		'''
